
:root{
  --DRIVE1ANGLE: 0deg;
  --DRIVE2ANGLE: 0deg;
  --DRIVE3ANGLE: 0deg;
  --GPUTEMP: 0deg;
  --CPUTEMP: 0deg;
  --CPUVISIBLE: hidden;
  --RAMLOAD: 0deg;
  --D2VISIBLE: hidden;
  --D3VISIBLE: hidden;
  --GuageColour: #9e00b1;
  --PGPUTEMP: 0deg;
  --PRAMLOAD: 0deg;
  --PCPUTEMP: 0deg;
  --BUTTONVIS: hidden;
}


body {
    --menuHoverColour:  rgba(0, 35, 122, 0.7);
    --menuHover:  rgba(255, 255, 255, 0.1);
    --menuColour: #000000;
    --Background: #ffffff;
    --Colour: #000000;
    --GuageBackgroundCol: #e6e2e7;
    background-color: var(--Background);
    color: var(--Colour);

}

/* DARK MODE CSS ONLY*/

.dark-mode {
  --menuHoverColour: #0000b2;
  --menuHover: #191919;
  --menuColour: #ffffff;
  --Background: #191919;
  --Colour: #ffffff;
  --GuageBackgroundCol: #343434;
  background-color: var(--Background);
  color: var(--Colour);
}

div {
  align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
 /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%); */
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 00%); 
  margin: 0 auto;
  padding: 5px 0;
}

nav ul {
  text-align: center;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 10%);*/
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); */
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: var(--menuColour);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: var(--menuHover);
  color: var(--menuHoverColour);
}

/* colour picker */
.popoutButton {
  visibility: var(--BUTTONVIS);
  color: var(--Colour);
  background-color: var(--Background);
  border-color: var(--GuageColour);
  border-radius: 4px;
}
/* guage drive 1*/

.circle-wrapD1 {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapD1 .circle .mask,
.circle-wrapD1 .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapD1 .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapD1 .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapD1 .circle .mask.full,
.circle-wrapD1 .circle .fill {
  /*animation: fill ease-in-out 3s;*/
  transform: rotate(var(--DRIVE1ANGLE));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--DRIVE1ANGLE));
  }
}
.circle-wrapD1 .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* guage drive 2*/
.D2 {
  visibility: var(--D2VISIBLE);
}

.circle-wrapD2 {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapD2 .circle .mask,
.circle-wrapD2 .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapD2 .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapD2 .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapD2 .circle .mask.full,
.circle-wrapD2 .circle .fill {
  /*animation: fill ease-in-out 3s;*/
  transform: rotate(var(--DRIVE2ANGLE));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--DRIVE2ANGLE));
  }
}
.circle-wrapD2 .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* guage drive 3*/
.D3 {
  visibility: var(--D3VISIBLE);
}

.circle-wrapD3 {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapD3 .circle .mask,
.circle-wrapD3 .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapD3 .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapD3 .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapD3 .circle .mask.full,
.circle-wrapD3 .circle .fill {
  /*animation: fill ease-in-out 3s; */
  transform: rotate(var(--DRIVE3ANGLE));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--DRIVE3ANGLE));
  }
}
.circle-wrapD3 .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* guage GPU*/
.circle-wrapGPU {
  margin: 50px auto; 
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapGPU .circle .mask,
.circle-wrapGPU .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapGPU .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapGPU .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapGPU .circle .mask.full,
.circle-wrapGPU .circle .fill {
  /*animation: fill ease-in-out 0s;*/
  transform: rotate(var(--GPUTEMP));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--GPUTEMP));
  }
}
.circle-wrapGPU .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/*CPU GUAGE*/
.CPU{
  visibility: var(--CPUVISIBLE);
}

.circle-wrapCPU {
  margin: 50px auto; 
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapCPU .circle .mask,
.circle-wrapCPU .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapCPU .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapCPU .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapCPU .circle .mask.full,
.circle-wrapCPU .circle .fill {
  transform: rotate(var(--CPUTEMP));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--CPUTEMP));
  }
}
.circle-wrapCPU .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* guage RAM*/
.circle-wrapRAM {
  margin: 50px auto; 
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapRAM .circle .mask,
.circle-wrapRAM .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapRAM .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapRAM .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapRAM .circle .mask.full,
.circle-wrapRAM .circle .fill {
  /*animation: fill ease-in-out 3s; */
  transform: rotate(var(--RAMLOAD));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--RAMLOAD));
  }
}
.circle-wrapRAM .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* POPOUT GPU */
.circle-wrapPGPU {
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapPGPU .circle .mask,
.circle-wrapPGPU .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapPGPU .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapPGPU .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapPGPU .circle .mask.full,
.circle-wrapPGPU .circle .fill {
  /*animation: fill ease-in-out 3s;*/
  transform: rotate(var(--PGPUTEMP));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--PGPUTEMP));
  }
}
.circle-wrapPGPU .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* POPOUT RAMLOAD */
.circle-wrapPRAM {
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapPRAM .circle .mask,
.circle-wrapPRAM .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapPRAM .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapPRAM .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapPRAM .circle .mask.full,
.circle-wrapPRAM .circle .fill {
  /*animation: fill ease-in-out 3s;*/
  transform: rotate(var(--PRAMLOAD));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--PRAMLOAD));
  }
}
.circle-wrapPRAM .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* POPOUT CPU */
.circle-wrapPCPU {
  width: 150px;
  height: 150px;
  background: var(--GuageBackgroundCol);
  border-radius: 50%;
}
.circle-wrapPCPU .circle .mask,
.circle-wrapPCPU .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrapPCPU .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrapPCPU .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--GuageColour);
}
.circle-wrapPCPU .circle .mask.full,
.circle-wrapPCPU .circle .fill {
  /*animation: fill ease-in-out 3s;*/
  transform: rotate(var(--PCPUTEMP));
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--PCPUTEMP));
  }
}
.circle-wrapPCPU .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--Background);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}